*{margin: 0;padding: 0;}
body{
    background-color: #cddfe0;
}
nav{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-image: linear-gradient(#334344,#5d6d6e);
    padding: 25px;
}
nav .logo{
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-shadow: 1px 1px 1px black;
}

nav .links ul{
    text-align: center;
    margin-top: 15px;
}
nav .links ul li{
    list-style: none;
    display: inline;
    margin-right: 15px;
    margin-left: 15px;
}
nav .links ul li a{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 20px;
}

nav .profile{
    text-align: center;
    margin-top: 10px;
}
nav .profile a{
    color: white;
    font-size: 30px;
    margin-top: 10px;
}
.tlinks{
    background-color: rgb(207, 207, 207);
    padding: 10px;
    display: none;
}
.tlinks ul{
    text-align: center;
}
.tlinks ul li{
    list-style: none;
    display: inline;
    margin-left: 20px;
    margin-left: 20px;
}
.tlinks ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
}


.subs{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
}
.subs h3{
    font-weight: 400;
}
.subs a{
    color: black;
    font-weight: 800;
    text-decoration: none;
}

.maincontent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-top: 3%;
    grid-column-gap: 1fr;
}

.leftbar{
    text-align: center;
}
.card{
    width: 90%;
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    margin-bottom: 3%;
}
.leftbar .card img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.leftbar .card .text{
    text-align: left;
    margin-top: 10px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.rightbar{
    text-align: center;
    margin-right: 10%;
}
.rightbar .cards{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
}
.rightbar .cards .card{
    width: 90%;
    height: 150px;
    background-color: #c4c4c4;
    margin-bottom: 4%;
    border-radius: 10px;
}
.trightbar{
    margin-top: 2%;
    background-color: #334344;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    display: none;
}
.trightbar .tcard{
    background-color: #c4c4c4;
    min-width: 120px;
    height: 150px;
    border-radius: 10px;
    margin-right: 20px;
}
@media(max-width:768px){
    body{
        background-color: white;
    }
    nav .links{
        display: none;
    }
    nav{
        grid-template-columns: 1fr 1fr;
        padding: 15px;
    }
    nav .logo{
        text-align: left;
    }
    nav .profile{
        text-align: right;
    }
    .tlinks{
        display: block;
    }
    .subs{
        font-size: 14px;
    }
    .rightbar{
        display: none;
    }
    .maincontent{
        grid-template-columns: 1fr;
    }
    .trightbar{
        display: flex;
    }
}
