<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="add.css">
    <title>Post</title>
</head>
<body>
    <form action="" method="post">
        <section>
            <label for="">Title: <input type="text" name="title"></label>
            <label for="">Description: <input type="text" name="text"></label>
        </section>
        <section>
            <label for="">ImageLink: <input type="text" name="image"></label>
            <label for="">ImageAlt: <input type="text" name="alt"></label>
        </section>
        <section>
            <label for="">Tags: [a,b,c]<input type="text" name="tags"></label>
            <label for="">Location: <input type="text" name="location"></label>
        </section>
        <button type="submit">submit</button>
    </form>
</body>
</html>
