<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <!-- <form action="add/post" method="post">
        <input type="text" name="post_name" id="" placeholder="name">
        <input type="text" name="post_desc" id="" placeholder="desc">
        <button type="submit">Submit</button>
    </form>
    <form action="add/place" method="post">
        <input type="text" name="name" id="" placeholder="name">
        <input type="text" name="desc" id="" placeholder="desc">
        <button type="submit">Submit</button>
    </form> -->
</body>
</html>