<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="unauth.css" type="text/css">
    <title>Travel 2.0</title>
</head>
<body>
    <div class="popup" id="popup">
        <h2>Travel 2.0</h2><br>
        <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3><br>
        <a href="javascript:history.go(-1)">OK, Go back</a>
    </div>
</body>
</html>