<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Store</title>
</head>
<body>
    <nav class="navbar">
        <span class="logo">LOGO</span>
        <div class="nav-btn-g">
            <a href="/"><span>HOME</span></a>
            <a href="/store"><span>STORE</span></a>
            <a href="/explore"><span>EXPLORE</span></a>
        </div>
        <a href="/profile"><img src="images/profile.png" alt="logo-profile"></a>
    </nav>  
</body>
</html>