<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css" type="text/css">
    <!-- <link rel="stylesheet" href="../public/styles.css" type="text/css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Home</title>
</head>
<body>
    <nav>
        <!-- logo -->
        <div class="logo"><h1>LOGO</h1></div>
        <!-- links -->
        <div class="links">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">EXPLORE</a></li>
                <li><a href="">STORE</a></li>
            </ul>
        </div>
        <!-- profile -->
        <div class="profile"><a href=""><i class="fa-solid fa-user"></i></a></div>
    </nav>
    <!-- tablet mode links-->
    <div class="tlinks">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">EXPLORE</a></li>
            <li><a href="">STORE</a></li>
        </ul>
    </div>
    <!-- subscribe -->
    <div class="subs">
        <h3>Subscribe to our newsletter and get a 10% off Discount coupen. <a href="">SUBSCRIBE NOW</a></h3>
    </div>

    <!--main content -->

    <!--tablet mode right bar-->
    <div class="trightbar">
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
            <div class="tcard"></div>
    </div>
    <div class="maincontent">
        <!--left bar-->
        <div class="leftbar">
            <!--cards-->
                <center>
                    <div class="cards"></div>
                    <% for(let i = 0; i < data.length; i++) { %>
                        <a href="/post/<%= data[i]._id %>" target="_blank" rel="noopener noreferrer">
                            <div class="card">
                                <img src="<%= data[i].image %>" alt="">
                                <div class="text">
                                    <h1><%= data[i].title %></h1>
                                    <h2><%= data[i].desc %></h2>
                                </div>
                            </div>
                        </a>
                    <% } %>
                    <!-- <div class="card"> -->
                        <!-- <img src="../public/images/ninearch.jpg" alt=""> -->
                        <!-- <img src="images/ninearch.jpg" alt="">
                        <div class="text">
                            <h1>Nine Arches Bridge - Badulla</h1>
                            <h2>kriz - 15:30 Today</h2>
                        </div>
                    </div> -->
                </center>
        </div>

        <!--right bar-->
        <div class="rightbar">
            <!--cards-->
            <center><div class="cards">
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
                <div class="card"></div>
            </div></center>
        </div>
    </div>
</body>
</html>