<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login</title>
</head>
<body>
    <center><form action="/login" method="post">
        <h1>Login</h1><br><br>
        <h3>Email</h3>
        <input id="field" name="email" type="email" placeholder="Email"><br><br>
        <h3>Password</h3>
        <input id="field" name="password" type="password" placeholder="Password"><br><br>
        <button type="submit">submit</button><br><br>
        <p>No Account? <a href="/register">Register Here</a></p>
    </form></center>
    <!--<p>No Account? <a href="/register">Register Here</a></p>-->
</body>
</html>