<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <title>Profile</title>
</head>
<body>
    <h1 style="text-align: center; margin: auto;">this is profile page</h1>
    <h2>Welcome, <%= data.name %></h2>
    <form action="/logout" method="post">
        <button type="submit">Logout</button>
    </form>
    <a href="/newpost">Create New Post</a>
</body>
</html>