<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="register.css">
    <title>Register</title>
    <style>
        /*section {
            padding: 30px;
        }*/
    </style>
</head>
<body>
    <center><form action="/register" method="post">
            <h1>Register</h1><br><br>

            <h3>Username</h3>
            <input id="field" name="username" type="text" placeholder="Username" required><br><br>
            <h3>Password</h3>
            <input id="field" name="password" type="password" placeholder="Password" required><br><br>
            <h3>Email</h3>
            <input id="field" type="email" name="email" placeholder="Email" required><br><br>
            <button type="submit">submit</button>
    </form></center>
</body>
</html>